    ------
    JMX Monitoring Plugin for Hibernate
    ------
    Juergen Kellerer
    ------
    2009-12-04
    ------

${project.name} - ${project.version}

* About ${project.name}

    "${project.build.finalName}" is a plugin to
    <<{{{http://java.sun.com/j2se/1.5.0/docs/guide/management/jconsole.html}jconsole}}>> or
    <<{{{https://visualvm.dev.java.net/}visualvm}}>> allowing to monitor
    hibernate via its JMX exports. The plugin displays grahps and details on
    queries, entities, collections and cache efficiency.

    In order to use the plugin, make sure that the application monitored by jconsole
    already exports the hibernate statistics MBean (when it does, the MBean appears
    under the MBeans section).
    Follow the <<{{{usage.html}usage guide}}>> for more information.

    {{{https://sourceforge.net/projects/hibernate-jcons/files/}
    Download "${project.build.finalName}.jar"}}

* Help wanted

    If you consider this small plugin useful please contribute to make it better.

    The whole project started as some sort of fun project done within one long
    weekend and though already usable, it's not yet very sophisticated with
    regards to the data that is visualized.

    Please use the tracker system at sourceforge.net to issue
    {{{http://sourceforge.net/tracker/?group_id=289306}Bug reports}} or
    {{{http://sourceforge.net/tracker/?group_id=289306}Feature requests}}.
    Open discussions or other issues go into the
    {{{http://sourceforge.net/projects/hibernate-jcons/forums}forums}} section.

* Screenshot

[images/screenshot.png] Version 1.0.1 - Queries

    Version 1.0.1 - Queries