    ------
    JMX Monitoring Plugin for Hibernate
    ------
    Juergen Kellerer
    ------
    2009-12-04
    ------

${project.name} - ${project.version}

* About ${project.name}

    "${project.build.finalName}" is a plugin to
    <<{{{http://java.sun.com/j2se/1.5.0/docs/guide/management/jconsole.html}JConsole}}>> or
    <<{{{https://visualvm.dev.java.net/}visualvm}}>> allowing to monitor
    <<{{{http://www.hibernate.org/}Hibernate}}>> via its JMX exports.\
    The plugin displays grahps and details on queries, entities, collections and cache efficiency.

    {{{http://sourceforge.net/projects/hibernate-jcons/files/beta/${project.build.finalName}.jar/download}
    <<Download>> "${project.build.finalName}.jar"}}
    ({{{http://sourceforge.net/projects/hibernate-jcons/files/}all versions}})

* Quickstart

	* Make sure your monitored application exports "<<<Hibernate:application=Statistics>>>" to JMX.
	  (See <<{{{usage.html#pre-requisites}prerequisites}}>> for more information)

	* Monitoring a <locally> running application:

----
java -jar ${project.build.finalName}.jar
----

	* Monitoring a remote application may require to start the jar with:

----
java -jar ${project.build.finalName}.jar -J-Dhibernate.classpath=/path/to/hibernateJars/
----

    * Follow the <<{{{usage.html}usage guide}}>> for more information if the solutions above won't work.

	[]

* Screenshot

[images/screenshot.png] Version 1.0.1 - Queries

    Version 1.0.1 - Queries

* Help wanted

    If you consider this small plugin useful, please contribute to make it better.
    The whole project started as some sort of fun project done within one long
    weekend and though already usable, it's not yet very sophisticated with
    regards to the data that is visualized.

    Use the tracker system at sourceforge.net to issue
    {{{http://sourceforge.net/tracker/?group_id=289306}Bug reports}} or
    {{{http://sourceforge.net/tracker/?group_id=289306}Feature requests}}.
    Open discussions or other issues can be filled into the
    {{{http://sourceforge.net/projects/hibernate-jcons/forums}forums}} section.
